<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style4.css">
  <title>Toko Swalayan - Show Items</title>
</head>

<body>
  <div class="container">
    <div class="sidebar">
      <ul>
        <li><a href="/dashboard">Home</a></li>
        <li><a href="/create">Create</a></li>
        <li><a href="/show" class="active">Show</a></li>
        <li><a href="/edit">Edit</a></li>
        <li><a href="/delete">Delete</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
    <div class="content">
      <h1>Show Items</h1>
      <table id="itemTable">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% items.forEach((item, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= item.name %></td>
            <td><%= item.description %></td>
            <td><%= item.quantity %></td>
            <td>Rp. <%= item.price %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
  <script src="script.js"></script>
</body>

</html>
